# Godot 4+ specific ignores
.godot/
/android/

# Ignore everything
external/godot/*

# But do NOT ignore this one folder
!external/godot/modules/terrain_generator/

# Also include everything inside that folder (otherwise Git ignores contents by default)
!external/godot/modules/terrain_generator/**
